<a href="https://colab.research.google.com/github/guilhermeluciosilva/python-data-science/blob/master/Analisando_Randint/Analisando_randint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from random import randint

list0 = []

#gerando nossos dados
for x in range(0, 10000):
  list0.append(randint(0, 100))


dados = pd.DataFrame(list0, columns = ["numeros_aleatorios"]) #criando nossa planilha

dados.head(10)

   numeros_aleatorios
0                  10
1                  88
2                  23
3                  71
4                  44
5                  15
6                  12
7                  91
8                 100
9                  73